
body {
	font-family: 'Nunito', sans-serif;
	color: var(--text);
	scroll-behavior: smooth;
}

#loading {
	z-index: 999;
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	background: var(--black);
}

#menu {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	z-index: 20;
	padding: 0px;
	margin: 0;
	border-radius: 0 0 0 5px;
	background: var(--transparent);
	/*box-shadow: 1px -1px 0 var(--orange);*/
	/*transition: .2s all cubic-bezier(0,1,1,2);*/
	transition: .2s all linear;
}
#menu-toggle {
	border-radius: 0 0 0 5px;
	background: var(--orange-transparent);
}
#menu.hidden #menu-toggle {
	box-shadow: -1px 1px 0 var(--orange);
}
#menu.hidden {
	transform: translateX(calc(100% - 52px));
}
#menu:hover {
	/*box-shadow: -1px 1px 0 var(--orange), -2px 2px 0 var(--orange-dark), -3px 3px 0 var(--orange-strong);*/
	box-shadow: -1px 1px 0 var(--orange-transparent);
	background: #000000bb;
}
#menu a {
	/*font-weight: bold;*/
	cursor: pointer;
	padding: 15px 20px;
	display: block;
	font-size: 20px;
	color: var(--text);
	transition: .2s all linear;
}
#menu a.active {
	color: var(--orange);
	box-shadow: 0px 1px 0 var(--orange);
}
#menu a:hover {
	color: var(--orange);
}
#menu .divider {
	transform: scale(.3);
}
#menu .title {
	display: none;
}
#menu .title:hover {
	color: var(--text);
}
@media (max-width: 992px)
{
	#menu .title {
		display: block;
	}
	#menu {
		flex-direction: column;
	}
	#menu-toggle {
		position: absolute;
		left: -52px;
	}
	#menu.hidden {
		transform: translateX(100%);
	}
	#menu .divider {
		display: none;
	}
}
.content {
	background: transparent;
	background: url(../img/bg-pattern.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.section {
	overflow: hidden;
}
.section-title {
	/*font-family: 'Prompt', sans-serif;*/
	font-size: 90px;
	font-weight: bold;
	letter-spacing: 5px;
	background: -webkit-linear-gradient(45deg, rgb(250,130,44), #FF372D);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 5px 5px 10px #00000077;
	box-shadow: 0 2px 0 var(--orange);
	width: 50%;
	position: relative;
	text-align: center;
	transition: var(--slow-transition);
	opacity: .5;
}
.section-title:before {
	content: "";
	position: absolute;
	bottom: -8px;
	left: -8px;
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: var(--orange);
	-webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
	clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.section-title:after {
	content: "";
	position: absolute;
	bottom: -8px;
	right: -8px;
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: var(--orange);
	-webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
	clip-path: polygon(100% 0, 0 50%, 100% 100%);

}
.active-section .section-title {
	opacity: 1;
}
.summary {
	border-top: 5px solid var(--light-blue);
	font-size: 30px;
	padding: 75px 10vw;
	padding-bottom: 150px;
	background: var(--dark-blue);

	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 33% 95%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 33% 95%, 0 100%);
}

.summary section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-top: 20px;
	padding: 0 50px;
	box-shadow: 0 40px 20px -40px #00000077;

	transition: var(--slow-transition);

	background: linear-gradient(to left, var(--dark-blue), var(--light-blue));
	border-radius: 5px 0 0 100px;
	border-left: 1px solid var(--orange-dark);

	transform: translateX(25%);
	opacity: 0;
}
.summary section:nth-child(even) {
	border-radius: 0 5px 100px 0;
	background: linear-gradient(to right, var(--dark-blue), var(--light-blue));
	transform: translateX(-25%);
	opacity: 0;
	border-right: 1px solid var(--orange-dark);
	border-left: 0px solid var(--orange-dark);
}
.summary.active-section section {
	transform: translateX(0);
	opacity: 1;
}
.summary .section-title {
	/*margin: 0 auto;*/
}

.summary section * {
	transition: all .3s ease-in-out;
}
.summary section.touch-active ,
.summary section:hover {
	border-color: var(--orange)
	/*box-shadow: 0 40px 20px -40px #000000;*/
}
.summary section.touch-active img ,
.summary section:hover img {
	opacity: .8;
}
.summary section.touch-active b ,
.summary section:hover b {
	color: var(--orange);
	text-shadow: 0 0 5px var(--orange-strong);
}
.summary section p {
	flex: 1;
}
.summary section img {
	padding: 20px 50px;
	/*filter: invert(1);*/
	opacity: .25;
	width: 300px;
	height: 300px;
}

@media (max-width: 992px)
{
	.summary h1 {
		height: unset;
	}
	.summary {
		font-size: 20px;
	}
	.summary section {
		flex-direction: column;
		margin-bottom: 25px;		
		padding-top: 15px
	}
	.summary section img {
		left: 10%;
		width: 80%;
		height: auto;
	}
}
@media (max-width: 992px)
{
	.summary {
		padding: 25px 10vw;
		padding-bottom: 125px;

		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 33% 98%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 33% 98%, 0 100%);
	}
	.summary section:nth-child(2) {
		margin-top: 200px;
	}
	.summary section {
		margin-top: 130px;
		margin-bottom: 0px;
	}
	.summary section img {
		position: absolute;
		left: 50%;
		top: 0;
		width: 250px;
		height: 250px;
		transform: translate(-80%,-80%);
	}
	.summary section img.two {
		transform: translate(0%,-67%);
	}
	.summary section img.three {
		transform: translate(-80%,-63%);
	}
	.summary section:nth-child(even) {
	}
}
@media (max-width: 568px)
{
	.summary {
		font-size: 16px;
	}
	.summary section img {
		width: 150px;
		height: 150px;
	}
	.summary section:nth-child(2) {
		margin-top: 160px;
	}
	.summary section img {
		transform: translate(-50%,-80%);
	}
	.summary section img.two {
		transform: translate(-50%,-67%);
	}
	.summary section img.three {
		transform: translate(-50%,-63%);
	}
}

.portfolio {
	padding: 75px 0;
	/*background: var(--black-blue);*/
}
.portfolio .section-title {
	margin: 0 10vw 50px 10vw;
	color: var(--dark-blue);
}
.project {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-around;
	/*transform: translateX(150%);*/
	opacity: 0;
	transition: all .5s ease-in-out;
}
.active-section .project {
	/*transform: translateX(0);*/
	opacity: 1;
}
.active-section .project-container {
	/*transform: translateX(0);*/
	transform: scale(1);
}
.project-container {
	width: 80%;
	display: flex;
	align-items: around;
	transform: scale(1.25);
	transition: all .5s ease-in-out;
}
.project .nav-button {
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.arrow {
	width: 75px;
	height: 75px;
	opacity: .85;
	cursor: pointer;
	transition: all .15s cubic-bezier(0,.99,1,1.72);
}
.nav-button:hover .arrow {
	opacity: 1;
	transform: scale(1.3);
}
.arrow.prev {
	transform: scaleX(-1);
}
.nav-button:hover .arrow.prev {
	transform: scaleX(-1.3) scaleY(1.3);
}
.showcase {
	width: 65%;
}
.description {
	align-self: flex-start;
	flex: 1;
	padding-left: 5%;
}
.showcase img {
	width: 100%;
}

@media (min-width: 577px)
{
	.mobile-button {
		display: none !important;
	}
}
@media (max-width: 992px)
{
	.arrow {
		width: 50px;
		height: 50px;
	}
	.summary .section-title {
		margin-bottom: 30px;
	}
	.portfolio .section-title {
		width: 80%;
	}
	.section-title {
		font-size: 45px;
		letter-spacing: 1px;
		width: 100%;
	}
	.project-container {
		flex-direction: column-reverse;
	}
	.showcase {
		width: 100%;
	}
}
@media (max-width: 576px)
{
	.project {
	}
	.project-container {
		width: 100%;
	}
	.desktop-button {
		display: none !important;
	}
}

.contact {
	padding: 150px 10vw;
	background: var(--dark-blue);

	-webkit-clip-path: polygon(0 0, 66% 5%, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 66% 5%, 100% 0, 100% 100%, 0 100%);
}
.contact .section-title {
	margin-top: 0;
}
.contact-form {
	position: relative;
	display: flex;
	align-items: stretch;
	flex-direction: row;

	padding: 0 5vw;
	perspective: 1800px;
}
.contact-form > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 75px;
	position: relative;
	box-shadow: 5px 5px 10px #00000044;
	flex: 1;
	transition: all .5s ease-in-out;
	opacity: 0;
}
.active-section .contact-form > div {
	opacity: 1;
}
.active-section .contact-form > div:first-child {
	transform: rotateY(0);
}
.active-section .contact-form > div:last-child {
	transform: rotateY(0);
}
.contact-form > div:first-child {
	transform: rotateY(93deg);
	border-radius: 5px 0 0 5px;
	transform-origin: right center;
}
.contact-form > div:last-child {
	transform: rotateY(-87deg);
	border-radius: 0 5px 5px 0;
	transform-origin: left center;
}
.contact-form .inputs {
	justify-content: space-around;

	background: var(--light-blue);
	flex: 1.6 1;
}
.contact-form .inputs > * {
	width: 100%
}
.contact-form .inputs > label {
	margin-top: 15px;
	margin-bottom: 5px;
}
.contact-form .inputs > label:first-child {
	margin-top: 0;
}
.contact-form .inputs > input,
.contact-form .inputs > textarea {
	border: 0;
	font-size: 25px;
	padding: 6px 12px;
	background: var(--transparent);
	color: var(--text);
	border-radius: 3px 3px 0 0;
	border-bottom: 1px solid var(--text);
}
.contact-form .inputs > input:focus,
.contact-form .inputs > textarea:focus {
	border-bottom: 1px solid var(--orange);
	color: var(--orange);
}
.contact-form .desc {
	background: url(../img/bg-pattern.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	box-shadow: inset 5px 5px 5px #00000077;

	justify-content: center;
	/*padding-bottom: 75px;*/
}
.contact-form .desc ul {
	padding: 0;
	/*top: -65px;
	left: -25px;
	position: absolute;
	z-index: 10;
	white-space: nowrap;*/
}
.contact-form .desc ul li {
	font-size: 23px;
	margin-bottom: 20px;
	border-left: 3px solid var(--light-blue);
	padding-left: 20px;
	transition: .2s all linear;
}
.contact-form .desc ul li.touch-active ,
.contact-form .desc ul li:hover {
	border-left: 3px solid var(--orange);
}
.contact-form input.send {
	/*position: absolute;*/
	line-height: 75px;
	border-radius: 3px;
	margin-top: 50px;
	bottom: 0;
	background: rgba(29,34,63,.5);
	border: 0;
	color: var(--text);
	font-size: 35px !important;
	width: 100%;
	letter-spacing: 7px;
	cursor: pointer;
	box-shadow: inset 5px 5px 5px #00000033;
	text-shadow: 1px 1px #00000033;
	border-radius: 3px;
	background: var(--dark-blue);
	/*background: url(../img/bg-pattern.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
  	opacity: .53por;
  	border-bottom: 1px solid transparent !important;
	transition: .2s all linear;
	font-family: 'Prompt', sans-serif;
}
.contact-form .send:hover {
  	opacity: .75;
	/*text-shadow: 1px 1px var(--orange);*/
	/*text-shadow: 2px 2px 2px var(--orange-strong);*/
/*
	box-shadow: 5px 5px 5px #00000077;
	border-bottom: 1px solid transparent;
	border-radius: 3px;*/
	color: var(--lighter-blue) !important;

	/*border-bottom: 1px solid var(--orange);
	color: var(--orange);*/
}
.contact-form:hover .inputs {
}
@media (max-width: 992px)
{
	.contact-form {
		flex-direction: column;
	}
	.contact-form .desc ul li {
		font-size: 18px;
	}
	.contact-form > div:first-child {
		transform: rotateX(-93deg);
		transform-origin: bottom center;
	}
	.contact-form > div:last-child {
		transform: rotateX(+87deg);
		transform-origin: top center;
	}
}
@media (max-width: 576px)
{
	.contact {
		padding: 75px 5vw;
	}
	.contact-form > div {
		padding: 15px 20px;
	}
	.contact-form .desc ul li {
		font-size: 20px;
		margin-bottom: 20px;
		border-left: 3px solid var(--light-blue);
		padding-left: 10px;
		transition: .2s all linear;
	}
	.contact-form .send {
		/*position: absolute;*/
		line-height: 50px;
	}
	.contact {
		-webkit-clip-path: polygon(0 0, 66% 2%, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 0, 66% 2%, 100% 0, 100% 100%, 0 100%);
	}
	.contact-form .inputs > input,
	.contact-form .inputs > textarea {
		border: 0;
		font-size: 22px;
		padding: 4px 8px;
	}
}

footer {
	position: relative;
	border-top: 5px solid var(--light-blue);
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	background: #00000077;
}
footer #cv {
	display: flex;
	align-items: center;
	width: 400px;
	background: var(--light-blue);
	-webkit-clip-path: polygon(0 0, 100% 0, 40% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 40% 100%, 0 100%);

	box-shadow: inset -25px 0 50px 0px var(--black-blue);
}
footer a.cv {
	position: absolute;
	padding: 25px 50px;
	font-size: 40px;
	font-weight: bold;
	font-family: "Gill Sans", sans-serif;
	background: -webkit-linear-gradient(45deg, rgb(250,130,44), #FF372D);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 5px 5px 10px #00000077;
	box-shadow: 0 2px 0 var(--orange);
	bottom: 0;
	left: 0;
	z-index: 15;
	transition: var(--transition);
}
footer a.cv .fa {
	font-size: 25px;
}
footer a.cv .size {
	font-size: 25px;
}
footer #cv a:hover {
	color: var(--text);
}
footer ul {
	display: flex;
	padding: 0;
}
footer ul a {
	font-size: 22px;
	padding: 10px 20px;
	display: block;
}
footer .socialmedia {
	flex-direction: column;
	justify-content: center;
}
footer .socialmedia a {
	color: var(--lighter-blue);
}
footer .menu {
	flex-direction: row;
	flex: 1;
	justify-content: center;
	flex-wrap: wrap;
}
footer .menu a {
	border-bottom: 2px solid var(--orange-transparent);
	padding-bottom: 20px;
	color: var(--text);
	white-space: nowrap;
}
footer .menu a:hover {
	border-bottom: 2px solid var(--orange);
}
footer .socialmedia a:hover {
	color: var(--text);
}
@media (max-width: 992px)
{
	footer a.cv {
		top: 0;
		font-size: 50px;
	}
	footer a.cv br {
		display: none;
	}
	footer a.cv .fa {
		font-size: 20px;
	}
	footer a.cv .size {
		font-size: 20px;
	}
	footer #cv {
		position: relative;
		width: 100%;
		height: 100px;
		-webkit-clip-path: polygon(0 0, 80% 0, 0% 100%, 0 100%);
		clip-path: polygon(0 0, 80% 0, 0% 100%, 0 100%);
	}
	footer {
		flex-direction: column;
	}
	footer ul {
		flex-direction: row !important;
	}
}
@media (max-width: 576px)
{
}